<header class="container">
  <div class="row pt-2">
    <div class="col">
      <h1 id="page-title" class="text-dark text-center">
        Sample Angular App <span class="text-danger">created for Solutions Architect Path</span>
      </h1>
      <hr>
      <h2 class="text-left">
        <span class="badge badge-primary">Version: 1.0</span>
      </h2>
    </div>
  </div>
</header>

<main class="container">
  <div class="row pt-2">
    <div class="col">
      <p class="lead">
        Congratulations! .
      </p>
      <p class="lead">
        This is a sample calculator app build examples on <strong>Solutions Architect Course</strong> .
      </p>
      <app-calculator></app-calculator>
    </div>
  </div>
</main>

<router-outlet></router-outlet>